.gear__menu {
	padding: 24px;
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.gear__submenu {
	padding: 24px;
	margin: 24px;
	list-style: none;
	text-align: center;
	align-items: center;
	font-size: 32px;
	border-radius: 100%;
	background-color: gray;
	width: 160px;
	transition: width 0.5s, background-color 1.5s;
	&:hover {
		width: 180px;
		background-color: #000000;
	}
}
/*estilos internos de gear*/


