/*estilos internos de skate*/
#skate{
    height: 700px;
    width: 100%;
    color: black;
    font-family: "Skateparx Filled Demo";
    font-size: 32px;
    text-align: center;
    line-height: 50px;
    border-top: solid 2px rgb(116, 113, 113);
    border-bottom: solid 2px rgb(116, 113, 113);
}


#riders{
    padding: auto;
    margin: auto;
    height: 100%;
    width: 100%;
    color: black;
    font-family: "Skateparx Filled Demo";
    font-size: 32px;
    text-align: center;    
    border-bottom: solid 2px rgb(116, 113, 113);
}

#spots{
    padding: auto;
    margin: auto;
    height: 100%;
    width: 100%;
    color: black;
    font-family: "Skateparx Filled Demo";
    font-size: 32px;
    text-align: center;    
    border-bottom: solid 2px rgb(116, 113, 113);
}

#contact{
    padding: auto;
    margin: auto;
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Skateparx Filled Demo";
    font-size: 32px;
    text-align: center;    
    border-bottom: solid 2px rgb(116, 113, 113);
}

