/*Mobile*/
@media screen and (max-width:599px) {
    .gear__menu{
        flex-direction: column;
        align-items: center;
    }
    .grid{
        display: flex;
        flex-direction: column;
        margin: 0%;
    }
    footer ul{
        flex-direction: column;
        align-items: center;
    }
}