#riders {
	img {
		padding: 24px;
		border-radius: 200px;
	}
	ul {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		padding-left: 0rem;
		margin-bottom: 0rem;
		li {
			padding: 50px;
			margin: 30px;
			list-style: none;
			border-radius: 100%;
			background-color: gray;
			width: 300px;
			transition: width 0.5s, background-color 1s;
			&:hover {
				width: 340px;
				background-color: #000000;
			}
		}
	}
	p {
		margin: 10px;
	}
}